---
import "./Card.astro.css"
const { title, heroImage, tag, url, description } = Astro.props
---

<a class="card" transition:animate="fade" href={url}>
    {tag && <div class="card-tag">{tag}</div>}
    <img src={heroImage} alt={title} class="card-image" loading="lazy" />
    <div class="card-content">
        <h3 class="card-title">{title}</h3>
        {description && <p class="card-description">{description}</p>}
    </div>
</a>
