---
import { Image } from "astro:assets";
import TechStackIcon from "../Icon/TechStackIcon.astro";
import "./FrameworkCard.astro.css";
export interface Props {
	href: string;
	blogName?: string;
	tags?: string[];
}

const { href, blogName, tags = [] } = Astro.props;
const var9999 = blogName?.split("/")!;
const title = var9999[var9999?.length - 1];
---

<a href={href} data-blogname={blogName} class="framework-card flex flex-col p-2 glass">
    <div class="relative flex justify-center">
        <Image alt={blogName ?? "Framework Icon"} src={`/icon/${blogName}/icon.svg`} height={200} width={100}
            />
        <h2 class="absolute bottom-0 right-0 framework-card-title">{title}</h2>
    </div>
	<hr />
	<div class="flex flex-row gap-1">
		{tags.map((tag) => <TechStackIcon class:list={"inline"} name={tag} size={40}/>)}
	</div>
</a>

<script define:vars={{ blogName }}>
    ///@ts-ignore
	const container = document.querySelector(`a[data-blogname="${blogName}"]`);
	const body = document.body;
	container?.addEventListener("mouseenter", () => {
        ///@ts-ignore
		body.style.backgroundImage = `url(/icon/${blogName}/icon.svg)`;
		body.style.backgroundColor = "black";
	});
	container?.addEventListener("mouseleave", () => {
		body.style.backgroundImage = "";
	});
</script>
